

.nav-pointer {
    list-style-type: none;
    float: right;
    align-items: right;
    padding-right: 30px;
    
}

#nav-menu-item-1:hover {
    box-shadow: 0 0 5px red inset 0 0 10px red;
}

#nav-menu-item-2:hover {
    box-shadow: 0 0 5px red inset 0 0 10px red;
}

.nav-pointer:hover {
    box-shadow: 0 0 50px red;
    position: relative;
}

.Space-Container { 
    width: 100%;
    height: 250px;
    border-radius: 0;

}


#nav-container {
    width: 100%;
    height: 100px;
    background: #d3d3d3;
    border-radius: 0px;
    position: fixed;
    top: 0;
    margin-bottom: 500px;

}



#leftnavbar {
    margin-left: 300px;
}
#rightnavbar {
    margin-left: 500px;
    margin-bottom: 10px;
}

.navigationcore {
    display: inline-block;
    margin: 5px;
    padding-bottom: 50;

}

#bannerimage {  
    background-size: 100% 400px;
    width: 100%;
    height: 400px;
    background-image: url('../Images/bannerOne.jpg');
    background-repeat: no-repeat;
    background-position: center;
    

}

.Section-Header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Libre Franklin', sans-serif;
}


.Footer-Container {
    width: 100%;
    height: 200px; 
    background: #d3d3d3;
    border-radius: 0px;
}

#Contact-Us-Page-Header {
    bottom: 100px; 
}
html {
    margin: 0;
    padding: 0;
}

body { 
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}
h1, h2, h3, h4, h5, h6, li, ul {
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 10px;
}

a:visited, a:focus {
    text-decoration: none;
}

input, form {
    font-family: 'Libre Franklin', sans-serif;
}