

.nav-pointer {
    list-style-type: none;
    float: right;
    align-items: right;
    padding-right: 30px;
    
}



#nav-container {
    width: 100%;
    height: 105px;
    background: #d3d3d3;
    border-radius: 0px;
   

}



#leftnavbar {
    margin-left: 300px;
}
#rightnavbar {
    margin-left: 500px;
    margin-bottom: 10px;
}

.navigationcore {
    display: inline-block;
    margin: 5px;
    padding-bottom: 50;

}

#bannerimage {  
    background-size: 100% 400px;
    width: 100%;
    height: 400px;
    background-image: url('../Images/bannerOne.jpg');
    background-repeat: no-repeat;
    background-position: center;
    

}

.Section-Header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Libre Franklin', sans-serif;
}


.Footer-Container {
    width: 100%;
    height: 200px; 
    background: #d3d3d3;
    border-radius: 0px;
}

html, body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}
h1, h2, h3, h4, h5, h6, li, ul {
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 10px;
}